<template>
 <transition
  :name="animation"
  @after-enter="afterEnter"
  @before-leave="beforeLeave"
  @after-leave="afterLeave"
 >
  <div
    v-if="!destroyed"
    v-show="isActive"
    class="modal is-active"
    :class="[{'is-full-screen': fullScreen}, customClass]"
    tabindex=-1
  >
        <div class="modal-background" @click="cancel('outside')"></div>
        <div
          class="animation-content" :class="{'modal-content': !hasModalCard }"
          :style="customStyle"
        >
          <template v-if="content">
            <div v-html="content" />
          </template>
          <slot
            v-else
            :can-cancel="canCancel"
            :close="close" />
          <button
            type="button"
            v-if="showX"
            v-show="!animating"
            class="modal-close is-large"
            @click="cancel('x')" />
        </div>
    </div>
      </transition>
</template>

<script>
export default {
  name: 'Modal',
  props: {
    events: Object,
    active: Boolean,
    animation: {
        type: String,
        default: 'zoom-out'
    },
    content: [String, Array],
    onCancel: {
      type: Function,
      default: () => {}
    },
    canCancel: {
      type: [Array, Boolean],
      default: () => {
        return ['escape', 'x', 'outside', 'button']
      }
    },
    fullScreen: Boolean,
    customClass: String,
    hasModalCard: Boolean,
    destroyOnHide: {
      type: Boolean,
      default: true
    },
    width: {
      type: [String, Number],
      default: 960
    },
    autoFocus: {
      type: Boolean,
      default: true
    },
  },
  data() {
    return {
      savedScrollTop: null,
      isActive: this.active || false,
      newWidth: typeof this.width === 'number' ? this.width + 'px' : this.width,
      animating: !this.active,
      destroyed: !this.active
    }
  },
  computed: {
    cancelOptions() {
      return typeof this.canCancel === 'boolean'
        ? this.canCancel
          ? ['escape', 'x', 'outside', 'button']
          : []
        : this.canCancel
    },
    showX() {
      return this.cancelOptions.indexOf('x') >= 0
    },
    customStyle() {
      if (!this.fullScreen) {
        return {maxWidth: this.newWidth}
      }
      return null
    }
  },
  watch: {
    active(value) {
      this.isActive = value
    },
    isActive(value) {
      if (value) this.destroyed = false
      this.handleScroll()
      this.$nextTick(() => {
        if (value && this.$el && this.$el.focus && this.autoFocus) {
          this.$el.focus()
        }
      })
    }
  },
  methods: {
    handleScroll() {
      if (typeof window === 'undefined') return
            if (this.scroll === 'clip') {
                if (this.isActive) {
                    document.documentElement.classList.add('is-clipped')
                } else {
                    document.documentElement.classList.remove('is-clipped')
                }
                return
            }
            this.savedScrollTop = !this.savedScrollTop
                ? document.documentElement.scrollTop
                : this.savedScrollTop
            if (this.isActive) {
                document.body.classList.add('is-noscroll')
            } else {
                document.body.classList.remove('is-noscroll')
            }
            if (this.isActive) {
                document.body.style.top = `-${this.savedScrollTop}px`
                return
            }
            document.documentElement.scrollTop = this.savedScrollTop
            document.body.style.top = null
            this.savedScrollTop = null
    },
    /**
     * Close the modal if canCancel and call the onCancel prop (function)
     */
    cancel(method) {
      if (this.cancelOptions.indexOf(method) < 0) return
      this.$emit('cancel', arguments)
      this.onCancel.apply(null, arguments)
      this.close()
    },
    /**
     * Call the onCancel prop (function)/
     * Emit events and destroy modal if it's programmatic.
     */
    close() {
      this.$emit('close')
      this.$emit('update:active', false)
    },
    /**
     * Keypress event that is bound to the document.
     */
    keyPress({key}) {
      if (this.isActive && (key === 'Escape' || key === 'Esc')) this.cancel('escape')
    },
    /**
     * Transition after-enter hook
     */
    afterEnter() {
      this.animating = false
      this.$emit('after-enter')
    },
    /**
     * Transition before-leave hook
     */
    beforeLeave() {
      this.animating = true
    },
    /**
     * Transition after-leave hook
     */
    afterLeave() {
      if(this.destroyOnHide) {
        this.destroyed = true
      }
      this.$emit('after-leave')
    }
  },
  created() {
    if (typeof window !== 'undefined') {
      document.addEventListener('keyup', this.keyPress)
    }
  },
  mounted() {
    if (this.isActive) this.handleScroll()
  },
  beforeDestroy() {
    if (typeof window !== 'undefined') {
        document.removeEventListener('keyup', this.keyPress)
        // reset scroll
        document.documentElement.classList.remove('is-clipped')
        const savedScrollTop = !this.savedScrollTop
            ? document.documentElement.scrollTop
            : this.savedScrollTop
        document.body.classList.remove('is-noscroll')
        document.documentElement.scrollTop = savedScrollTop
        document.body.style.top = null
    }
  }
}

</script>