<template>
    <vue-cal
        style="height: 600px"
        events-count-on-month-view
        events-count-on-year-view
        show-all-day-events
        :editable-events=false
        watchRealTime
        TodayButton
        :events="events"
        @ready="fetchEvents($event)"
        :on-event-dblclick="onEventClick"
    >
    <template v-slot:cell-content="{ cell, view, events }">
        <span class="vuecal__cell-date">{{  cell.content }}</span>
        <span class="vuecal__cell-events-count" v-if="['years', 'year', 'month'].includes(view.id) && ( allDayEventsCount(events) || normalEventsCount(events) )">
           <span class="vuecal__cell-events-count-allday" v-if="allDayEventsCount(events)"> {{ allDayEventsCount(events) }}</span>
           <span class="vuecal__cell-events-count-normal" v-if="normalEventsCount(events)"> {{ normalEventsCount(events) }}</span>
        </span>
    </template>
    </vue-cal>

<Modal
      :active=showEventDialog
      @close="showEventDialog = false"
    >
      <div class="box">
      <div>Event Details</div>
      <div>{{ selectedEvent.title }}</div>
      <div>{{ selectedEvent.organizer_name }}</div>
      <div v-html="selectedEvent.description"></div>

        <button class="button" @click="resetEventDetailsDialog()">
          Close
        </button>
      </div>
    </Modal>
</template>

<script>
import VueCal from 'vue-cal'
import Modal from './UI/Modal.vue'

import 'vue-cal/dist/vuecal.css'
import Moment from 'moment'

export default {
    components: {
        VueCal,
        Modal,
    },
    data() {
        return {
            showEventDialog: false,
            events: [],
            selectedEvent: {}
        }
    },
    methods: {
        fetchEvents(data, clear = false) {
            let url="/api/events"
            axios.get(url)
                .then((response) => {
                    console.log(response.data)
                    response.data.events.forEach(event => {
                        let event_class = "event"
                        if ((moment(event.end_utc) - moment(event.start_utc) ) / (1000*60*60)  > 24) {
                            event_class ="multi_day_event"
                        }

                        this.events.push({
                            start: event.start_utc + "Z",
                            end: event.end_utc + "Z",
                            title: event.name,
                            class: event_class,
                            allDay: event_class === "multi_day_event" ? true : false,
                            description: event.description_html,
                            organizer_name: event.organizer.name
                        })
                    });
                })
        },
       resetEventDetailsDialog() {
           this.selectedEvent = {}
           this.toggleEventDetailsDialog()
       },
        onEventClick(event, e) {
            console.log(event)
            this.selectedEvent = event
            this.showEventDialog = true
            e.stopPropagation()
        },
        normalEventsCount: events => {
            return events ? events.filter(e => e.class === "event").length : 0
        },
        allDayEventsCount: events => {
            return events ? events.filter(e => e.class === "multi_day_event").length : 0
        },
        toggleEventDetailsDialog() {
            this.showEventDialog = !this.showEventDialog
        },
    }


}
</script>

<style>
.event {
    background-color: lightskyblue;
    border: 1px solid darkslateblue;
    color: black;
    font-size: .75rem;
}
.multi_day_event {
    background-color: lightgreen;
    border: 1px solid darkgreen;
    color: black;
    font-size: .75rem;
}
.vuecal__cell-events-count {background: transparent;}
 span.vuecal__cell-events-count-normal {
  background: lightskyblue;
  height: 100%;
  min-width: 12px;
  padding: 0 3px;
  border-radius: 12px;
  /* display: block; */
}
span.vuecal__cell-events-count-allday {
    background: lightseagreen;
  height: 100%;
  min-width: 12px;
  padding: 0 3px;
  border-radius: 12px;
  /* display: block; */
}
</style>