<template>
   <tr>
        <td>{{ organizer.id }}</td>
        <td>{{ organizer.name }}</td>
        <td><a :href="organizer.url">{{ organizer.url }}</a></td>
        <td>{{ organizer.last_scraped }}</td>
        <td>
            <span class="icon">
                <i class="far fa-check-square" v-if="organizer.is_active"></i>
                <i class="far fa-square" v-else></i>
            </span>
        </td>
        <td></td>
    </tr>
</template>

<script>
    export default {
        props: {
            organizer: Object
        },
        data() {
            return {
                //
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>