<template>
    <div>
        <button class="button is-primary" @click="toggleNewOrganizerDialog">New Organizer</button>
        <button class="button is-info" @click="fetchAllEvents">Fetch All Events</button>
        <table class="table is-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Last Updated</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <organizers-list-row v-for="organizer in organizersList" :key="organizer.id" :organizer="organizer"></organizers-list-row>
            </tbody>
        </table>
    </div>

     <Modal
      :active=showNewOrganizerDialog
      @close="showNewOrganizerDialog = false"
    >
      <div class="box">
      <div>Add a new organizer</div>
        <div class="field">
            <label class="label">Eventbrite URL:</label>
            <input class="input" type="text" v-model="newOrganizerUrl">
        </div>


        <button class="button" @click="saveNewOrganizer()">
          Save
        </button>
        <button class="button" @click="resetNewOrganizerForm()">
          Cancel
        </button>
      </div>
    </Modal>
</template>

<script>
import OrganizersListRow from  "./OrganizersListRow.vue"
import Modal from './UI/Modal.vue'

export default {
    components: {
        OrganizersListRow,
        Modal
    },
    props: {
        organizers: {
            type: Array,
            default: []
        }
    },
    data() {
        return {
            showNewOrganizerDialog: false,
            newOrganizerUrl: "",
            organizersList: [],
        }
    },
    mounted() {
        this.organizersList = this.organizers
    },
    methods: {
        saveNewOrganizer() {
             let url = `/api/organizer`
            axios.post(url, {url: this.newOrganizerUrl})
            .catch(error => {
                // flash(error.response.data, 'is-danger')
            })
            .then((response) => {
                console.log(response)
                this.organizersList[response.data.id] = response.data
            })
            this.newOrganizerUrl = ""
            this.toggleNewOrganizerDialog();
        },
        toggleNewOrganizerDialog() {
            this.showNewOrganizerDialog = !this.showNewOrganizerDialog
        },
        fetchAllEvents() {
            let url = "/api/fetch-events"
            axios.get(url)
                .then(response => {
                    console.log(response.data)
                })
        }
    },
}
</script>